<?php
$CONFIG = array (
  'loglevel' => 0,
  'logtimezone' => 'Asia/Taipei',
  'default_language' => 'zh_TW',
  'instanceid' => 'ocahvd4dzxuu',
  'passwordsalt' => 'y9fY+0hhyE3X4G1WgSScF+o74W2oGi',
  'secret' => '9cucSWc+1WPUmrnjbNSt84XIJtXawljZ16N5GN7j5OlcULPF',
  'trusted_domains' => 
  array (
    0 => '172.22.117.31',
    1 => 'moe1.owncloud.com'
  ),
  'datadirectory' => '/var/www/owncloud/data',
  'overwrite.cli.url' => 'https://172.22.117.31',
  'dbtype' => 'mysql',
  'version' => '8.2.1.4',
  'debug' => 'true',
  'dbname' => 'owncloud2',
  'dbhost' => 'localhost',
  'dbtableprefix' => 'oc_',
  'dbuser' => 'oc_admin6',
  'dbpassword' => 'hArze/SseeWKe51OopkGhmYzv3GRQS',
  'markup_configuration_history' => true,
  'installed' => true,
  'updatechecker' => true,
  'theme' => 'MOE',
  'storage_url' => 'https://storage.edu.tw',
  'ldapIgnoreN' => false,
  'sso_login_url' => 'https://moe1.owncloud.com/login.php',
  'openid_login_url' => 'https://moe1.owncloud.com/openid.php',
  'sso_return_url_key' => '?path=',
  'sso_requests' => 
  array (
    3 => '\\OCA\\SingleSignOn\\GetInfo',
  ),
  'sso_portal_url' => 'http://mail.edu.tw/cgi-bin/storage_api',
  'sso_global_logout' => false,
  'sso_one_time_password' => true,
  'sso_regions' => 
  array (
    1 => 'north',
    2 => 'north',
    3 => 'north',
    4 => 'north',
    5 => 'north',
    6 => 'south',
    7 => 'south',
    8 => 'south',
    9 => 'south',
    10 => 'south',
    11 => 'south',
    12 => 'south',
    13 => 'south',
    14 => 'north',
    15 => 'north',
    16 => 'south',
    17 => 'north',
    18 => 'north',
    19 => 'south',
    20 => 'south',
    21 => 'south',
    30 => 'north',
    31 => 'north',
    32 => 'north',
    33 => 'north',
    34 => 'north',
    35 => 'north',
    36 => 'north',
    37 => 'north',
    38 => 'north',
    39 => 'north',
    40 => 'north',
    41 => 'north',
    42 => 'north',
    50 => 'south',
    51 => 'south',
    52 => 'south',
    53 => 'south',
    54 => 'south',
    55 => 'south',
    56 => 'south',
    57 => 'south',
    58 => 'south',
    59 => 'south',
    60 => 'south',
    61 => 'south',
    64 => 'south',
    66 => 'south',
    67 => 'south',
    71 => 'north',
    72 => 'north',
  ),
  'sso_owncloud_url' => 
  array (
    'north' => 'moe1.owncloud.com',
  ),
  'sso_admin_login_uri' => '/admin',
  'sso_admin_login_port' => 443,
  'sso_multiple_region' => true,
  'mail_smtpmode' => 'php',
  //'sharing_group_mode' => 'Friend_mode',
  'enabledPreviewProviders' => 
  array (
    0 => 'OC\\Preview\\PNG',
    1 => 'OC\\Preview\\JPEG',
    2 => 'OC\\Preview\\GIF',
    3 => 'OC\\Preview\\TXT',
  ),
  'permissions' => 
  array (
    'create' => false,
    'update' => false,
    'delete' => false,
    'reshare' => false,
  ),
  'sso_advance_user_group' => 'teacher',
  'sso_login_url1' => 'https://moe1.owncloud.com/login.php',
  'openid_login_url' => 'https://moe1.owncloud.com/openid.php',
  'sso_cookie_token_key1' => 'token',
  'sso_url_token_key1' => 'token1',
  'openid_url_token_key1' => 'token',
  'sso_auth_method1' => 'param',
  'sso_return_url_key1' => '?returnUrl=',
  'sso_requests1' => 
  array (
    0 => '\\OCA\\SingleSignOn1\\InvalidToken',
    1 => '\\OCA\\SingleSignOn1\\ValidToken',
    2 => '\\OCA\\SingleSignOn1\\GetToken1',
    3 => '\\OCA\\SingleSignOn1\\GetInfo',
  ),
  'openid_requests' => 
  array (
    0 => '\\OCA\\OpenIdConnect\\GetInfo',
    1 => '\\OCA\\OpenIdConnect\\UserInfo',
  ),
  'sso_portal_url1' => 'http://sso.cloud.edu.tw/ORG/service/SSOServiceX?wsdl',
  'openid_userinfo_url' => 'https://oidc.tanet.edu.tw/oidc/v1/',
  'sso_global_logout1' => true,
  'sso_admin_login_uri1' => '/admin',
  'sso_admin_login_port1' => 80,
  'sso_one_time_password1' => true,
  'files_version_cleaner_default_version_number' => 2,
  'files_version_cleaner_max_version_number' => 10,
  'files_version_cleaner_default_historic_version_number' => 2,
  'files_version_cleaner_max_historic_version_number' => 10,
  'files_version_cleaner_default_interval' => 1,
);
